<navbar></navbar>
<div class="container">
  <h3 class="text-center">ORDEN # : {{data.orden_id}}</h3>
  <hr>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12" style="padding-top:2px;padding-bottom:2px;">
              <select ng-model="data.caja" class="form-control" ng-disabled="data.role == 'mesero'">
                <option selected value="Caja Principal">Caja Principal</option>
                <option ng-repeat="caja in selecciones" ng-value="caja.nombre">{{caja.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <select ng-model="data.u.name" class="form-control">
                <option ng-repeat="usuario in usuarios" ng-value="usuario.name">{{usuario.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <select name="tipo" ng-model="data.tipo" class="form-control">
                <option value="servir">Servir</option>
                <option value="llevar">Llevar</option>
              </select>
            </div>
          </div>
          <div ng-if="data.tipo == 'servir'" class="row">
            <div class="col-lg-12">
              <label style="padding-top:4px;"># Mesa:</label>
              <input type="text" name="mesa" ng-model="data.mesa" class="form-control">
            </div>
            <div class="col-lg-12">
              <label style="padding-top:4px;"># Personas:</label>
              <input type="text" name="numPersonas" ng-model="data.numPersonas" placeholder="# de personas" class="form-control">
            </div>
          </div>         
          <hr>
          <div ng-repeat="item in ticket" class="container-fluid" style="font-size:18px;">
            <div class="row">
              <div class="col-lg-2 col-xs-2"><span class="badge" style="font-size:18px;">{{item.cantidad}}</span></div>
              <div class="col-lg-4 col-xs-4 text-left">{{item.name}}</div>
              <div class="col-lg-3 col-xs-4">{{item.precio * item.cantidad | currency}}</div>
              <div class="col-lg-3 col-xs-2 text-rigth">
                <button aria-hidden="true" ng-if="data.role == 'administrador'" ng-click="delete(item)" class="btn-xs btn-danger glyphicon glyphicon-remove"></button>
                <button aria-hidden="true" ng-if="item.servido==false && data.role == 'mesero'" ng-click="deleteMesero(item)" class="btn-xs btn-primary glyphicon glyphicon-remove"></button>
                <button aria-hidden="true" ng-if="item.servido==false || data.role == 'administrador'" ng-click="addToTicket(item)" class="btn-xs btn-success glyphicon glyphicon-plus"></button>
                <button aria-hidden="true" ng-click="mostrarObservacion(item)" class="btn-xs btn-warning glyphicon glyphicon-search"></button>
              </div>
            </div>
            <div ng-if="item.showObservacion">
              <textarea class="form-control" ng-model="item.observacion" style="margin-top:10px;"></textarea>
            </div>
            <hr />
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 text-center" style="font-size:18px;">{{ calculateTotal() | currency }}</div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <hr />
                <button ng-click="updateTicket()" class="btn-lg btn-success">ACTUALIZAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <input type="text" ng-model="producto" class="form-control" style="height:55px;font-size:26px;" />
        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div style="margin-bottom:10px;padding-top:10px;padding-bottom:10px;font-size:24px;white-space: normal;" ng-repeat="producto in productos | filter:producto" ng-click="addToTicket(producto)" class="col-lg-12 col-xs-12 btn btn-default">{{producto.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
<script type="text/ng-template" id="deleteProducto.html">
  <div class="modal-header">
    <h3 class="modal-title">Borrar Producto de la Orden</h3>
  </div>
  <div class="modal-body">
    <p><b>Esta seguro que desea borrar este producto {{item.name}}?</b></p>
    <h4>Detalle de modificaci&oacute;n:</h4>
    <textarea class="form-control" ng-model="observacion"></textarea>
  </div>
  <div class="modal-footer">
    <div class="text-center">
      <button class="btn-lg btn-danger" type="button" ng-if="showDeleteButton()" ng-click="borrar()">Borrar</button>
    </div>
  </div>
</script>
