.paper{
	width: 80mm;
	font-size: 15px;
	font-family: Arial;
	color: black;
}

.logo{
	width: 50mm;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}